@{
    ViewBag.Title = "MainIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!--Header-->
    <div class="header clearfix">
        <div class="headerHolder">
            <div class="col col1">
                <div class="mbMenu hidden"><a href="javascript:void(0);" class="mbMbtn"></a></div>
                <div class="grid grid1"><a href="#" class="logo"><img src="~/images/logo.png" border="0" title="Kale Kilit" /></a></div>
                <div class="grid grid2">
                    <div class="headerMenu">
                        <ul>
                            <li><a href="javascript:void(0);">Hediyeler</a></li>
                            <li><a href="javascript:void(0);">Kale Anahtarcılar Kulübü Nedir?</a></li>
                        </ul>
                        <div class="fixer"></div>
                    </div>
                </div>
            </div>
            <div class="fixer"></div>
        </div>
    </div>
    <!--Header-->

    <div class="body clearfix">
        <div class="bodyHolder clearfix" id="bodyHolder">
            <!--Mobile Logout-->
            <div class="mLogout">
                <div class="mLogoutHldr">
                    <div class="prf"><a href="javascript:void(0);" class="prfbtn"><span>VOLKAN SERTER</span><i class="icon1 iconMember"></i></a></div>
                    <div class="mLogoutSub">
                        <a href="javascript:void(0);" id="btnMyProfile"><i class="icon4 iconPrf"></i>Profilim</a>
                        <a href="javascript:void(0);" id="btnLogOut"><i class="icon4 iconLogout"></i>Çıkış</a>
                    </div>
                </div>
            </div>
            <!--Mobile Logout-->
            <!--Left Content-->
            <div class="left">
                <div class="leftContent">
                    <!--Profile Img-->
                    <div class="prf-img-hldr">
                        <div class="prfImg">
                            <div class="img"><img src="https://pacdn.500px.org/3067485/2e7f03c41f074cdd83d8aa52abf5beca7cdc65b5/1.jpg?1" /><a href="javascript:void(0);" id="btnUpdateProfile"><i class="fotoUpdate"></i></a></div>
                        </div>
                        <!--Profile Img-->
                        <!--Profile Info-->
                        <div class="prfInf">
                            <h1>
                                VOLKAN SERTER
                            </h1>
                            <span>PORTAL MANAGER</span>
                        </div>
                        <!--Profile Info-->
                    </div>
                    <div class="leftMenu">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" type="menu" id="btnGraffiti">
                                    <i class="icon2 iconT"></i>
                                    Duvar Yazısı
                                    <div class="iconRight"></div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" type="menu" id="btnWhois">
                                    <i class="icon2 iconH"></i>Kim Kimdir?
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" type="menu" id="btnFriendship">
                                    <i class="icon2 iconF"></i>
                                    Arkadaşlarım
                                    <div class="iconRight"></div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" type="menu" id="btnChat">
                                    <i class="icon2 iconM"></i>Mesajlar
                                    <div class="iconRight">
                                        <span class="count">!</span>
                                    </div>
                                </a>
                            </li>
                            <li><a href="javascript:void(0);" type="menu" id="btnEducation"><i class="icon2 iconE"></i>Eğitimler</a></li>
                            <li><a href="javascript:void(0);" type="menu" id="btnAnnounce"><i class="icon2 iconAn"></i>Duyurular</a></li>
                            <li><a href="javascript:void(0);" type="menu" id="btnVideo"><i class="icon2 iconV"></i>Videolar</a></li>
                            <li><a href="javascript:void(0);" type="menu" id="btnForum"><i class="icon2 iconFr"></i>Forum</a></li>
                            <li><a href="javascript:void(0);" type="menu" id="btnSurvey"><i class="icon2 iconAnk"></i>Ücretsiz Keşif Formu</a></li>
                            <li><a href="javascript:void(0);" type="menu" id="btnRequests"><i class="icon2 iconAnk"></i>İş Emirleri</a></li>
                            <li><a href="javascript:void(0);" type="menu" id="btnPoints"><i class="icon2 iconP"></i>Puanlarım</a></li>
                        </ul>
                    </div>
                    <!--Survey-->
                    <div class="survey">
                        <h4>Ürün Etiket Kodu Girişi</h4>
                        <div>
                            <input type="text" placeholder="Kodu giriniz" id="txtCode" />
                            <a href="javascript:void(0);" class="btnCodeSend"></a>
                        </div>
                        <br />
                        <p style="color:white;"></p>

                    </div>
                    <!--Survey-->
                    <!--Information Cup-->
                    <div class="cup">
                        <h1><i></i>Bilgi Küpü</h1>
                        <div class="btnQ">
                            <a href="#">SORU AL</a>
                        </div>
                        <div class="cupholder">
                            <div class="wrp"><a href="#" class="m m1"></a></div>
                            <div class="wrp"><a href="#" class="m m2"></a></div>
                            <div class="wrp"><a href="#" class="m m3"></a></div>
                            <div class="wrp"><a href="#" class="m m4"></a></div>
                            <div class="wrp"><a href="#" class="m m5"></a></div>
                            <div class="wrp"><a href="#" class="m m6"></a></div>
                            <div class="wrp"><a href="#" class="m m7"></a></div>
                            <div class="wrp"><a href="#" class="m m8"></a></div>
                            <div class="wrp"><a href="#" class="m m9"></a></div>
                            <div class="wrp"><a href="#" class="m m10"></a></div>
                            <div class="wrp"><a href="#" class="m m11"></a></div>
                            <div class="wrp"><a href="#" class="m m12"></a></div>
                            <div class="wrp"><a href="#" class="m m13"></a></div>
                            <div class="wrp"><a href="#" class="m m14"></a></div>
                            <div class="wrp"><a href="#" class="m m15"></a></div>
                            <div class="fixer"></div>
                        </div>
                    </div>
                    <!--Information Cup-->
                </div>
            </div>
            <!--Left Content-->
            <!--Right Content-->
            <div class="right">
                <div class="bnrContent">
                    <div class="minusMiniSliderHolder">
                        <ul class="slider">
                            <li><img src="~/images/164_ASM_220x304.png" border="0" /></li>
                            <li><img src="~/images/164_CEC_220x304.png" border="0" /></li>
                            <li><img src="~/images/164_KIS_220x304.png" border="0" /></li>
                        </ul>
                        <div class="fixer"></div>
                    </div>
                    <div class="bnrBox">
                        <img src="~/images/Anahtarcilar_Logo_220x304.png" border="0" />
                    </div>
                </div>
                <div class="iframeContent">
                    @Html.Action("Index", "Graffiti")
                </div>
            </div>
            <!--Right Content-->

            <div class="fixer"></div>
            <div class="mbFooter">
                <div class="mbFooterholder"><a href="#" class="wallText"><i></i><span>Duvar Yazısı</span></a><a href="#" class="friends"><i></i><span>Arkadaşlarım</span></a><a href="#" class="education"><i></i><span>Eğitimler</span></a><a href="#" class="comments"><i></i><span>Duyurular</span></a></div>
            </div>
        </div>
    </div>
</div>

<div class="vail vMbMenu vLgMenu"></div>
